<DOCTYPE HTML>
<style>
  .bordered {
    width: 200px;
    height: 100px;
    padding: 200px;
    border: 10px outset lightgrey;
  };
</style>
<div class="bordered">
<h2> Certificate </h2> 
<hr><hr>
<center>
<h1> Web Design in FreeAcademy.</h1>
<hr>
<p2> The certificate to for the spirit of hardwork and successful HTML and CSS programming with the ability of undertsanding the tasks at hand and please come and accept the award. Don't </p2>
 <hr><h1> Mogomotsi-Gumede </h1><hr><hr>
</center>
</div>
</HTML>
